{% extends "base.html" %}
{% set title = "Home" %}
{% set stylelist = ["index.css"] %}
{% set favicon = "/favicon.png" %}

{% block content %}
<header>
  <div id="bg-overlay">
    <div></div>
    <img src="./public/img/bgoverlay1.png" alt="A flour sack steps on a large pink star with sparks around it">
  </div>
  <h1>Keyframe</h1>
  <p>code an animation in processing and get free art supplies!</p>
  <aside id="signup">
    <label for="email">for teenagers 13-18:</label>
    <input type="email" name="email">
    <input type="submit" value="sign up!">
  </aside>
  <nav>
    <a href="#premise">how it works</a>
    <a href="./docs/">tutorial</a>
    <a href="">submit!</a>
  </nav>
  <a href="#premise"><img src="./public/img/arrowdown.png" alt="Set of 3 arrows pointing down"></a>
</header>

<main>
  <section id="premise">
    <h2>how it works</h2>
    {% set premiselist = [
      ["build.png", "white rabbit with a bucket hat posing next to its onion skins", "work on your animation"],
      ["upload.png", "", "ship your animation online!"],
      ["win.png", "", "submit and get <a href='#tiers'>prizes</a>!"]
    ] %}
    <ul>
      {% for step in premiselist %}
      <li><figure>
        <img src="./public/img/{{ step[0] }}" alt="{{ step[1] }}">
        <figcaption>{{ loop.index }}) {{ step[2] }}</figcaption>
      </figure></li>
      {% endfor %}
    </ul>
    <!-- <a href="./docs/">get started!</a> -->
  </section>
  <section id="tiers">
    <h2>tiers</h2>
    <p>Get better prizes by working longer on your projects!</p>
    <!-- ["", "", "60+ hours: screen drawing tablet!"], -->
    {% set tierlist = [
      ["", "", "2+ hours: sticker sheet + postcard-sized doodle!"],
      ["", "", "8+ hours: Procreate Dreams or animation lightbox!"],
      ["", "", "15+ hours: CSP Pro 5 license or screenless drawing tablet!"]
    ] %}
    <ul>
      {% for tier in tierlist %}
      <li><figure>
        <img src="{{ tier[0] }}" alt="{{ tier[1] }}">
        <figcaption>{{ tier[2] }}</figcaption>
      </figure></li>
      {% endfor %}
    </ul>
    <img src="" alt=""> <!-- do later -->
    <p>animations that get 1k+ views on any platform will also get a custom acrylic standee!</p>
  </section>

  <section id="faq">
    <h2>faq</h2>
    {% set faqlist = [
      ["Can I particpate?", "Any teenager ages 13-18 (under 19) can participate in Keyframe!"],
      ["What if I can't code?", "You can read the guides in the <a href='./docs/'>docs!</a>"],
      ["How many projects can I submit?", "As many as you'd like!"],
      ["How long can I spend drawing?", "Art can make up 25% of a project's total working time.", "You can track as many hours as you'd like making art, but the time working will be deflated."],
      ["Can I submit my project to another Hack Club program?", "Keyframe doesn't allow double dipping, sorry!"],
      ["Can I submit team projects?", "No, sorry! You can only submit your own work to Keyframe."],
      ["When does Keyframe end?", "Keyframe runs from September 10, 2026 to September 15, 2026- though it may be extended!"],
      ["I have more questions!", "Ask a question in <a href='https://hackclub.enterprise.slack.com/archives/C0BUDKQGMHR'>#keyframe</a> or <a href='https://hackclub.enterprise.slack.com/archives/C0EA9S0A0'>#code</a>!"]
    ] %}
    {% for question in faqlist %}
    <aside>
      <h3>{{ question[0] }}</h3>
      {% for line in range(1, question | length) %}
      <p>{{ question[line] }}</p>
      {% endfor %}
    </aside>
    {% endfor %}
  </section>
</main>
{% include "partials/footer.html" %}
{% endblock %}

{% set footer = " " %}
