<nav id="menu"><div>
  <div>
    <button type="button"><img src="/public/img/docs/menu.png" alt="Open docs menu"></button>
    <a href="#"><img src="/public/img/logo-mini.png" alt="Go to top of page"></a>
    <button type="button"><img src="/public/img/docs/menu.png" alt="Open page menu"></button>
  </div>
  <ul style="display:none;">
    <li><a href="/docs/">Overview</a></li>
    <li><a href="/docs/time/">Setting up time tracking</a></li>
    <li><a href="/docs/p5js/">Basics of p5.js</a></li>
    <li><a href="/docs/submit/">Submitting your project</a></li>
  </ul>
</div></nav>
